.menu{
	background-color: 2c0899;
	position: absolute;
	left:0%;
	top:0%;
	height:125px;
	z-index:0;
	width: 100%;
	font-weight: bold;
}


.menu li:first-child { 
	padding-left:12.5%;
}

.menu li{
	position:relative;
	top:5%;
	display:inline;
	margin: 3%;
	
}

#nav a:hover {color: #DCE4FF;}

#nav a{
	color: #FFFFFF;
	font-size:14pt;
	font-family: Arial;
	text-decoration: none;
}

.pic{
	position:absolute;
	top:25px;
	left:25px;
	background-size:100px 100px;
	z-index:1;
	image-size:75px;
	imagewidth:75px;
	
}



.picframe {

    width: 25px;
    height: 25px;
    position: absolute;
    left:0%;
    top:0%;
	z-index:2;
    -webkit-animation: pf 5s infinite;
    -webkit-animation-direction: alternate; 
    animation: pf 5s infinite;
}

/* picture frame ani */
@-webkit-keyframes pf {
     0%   {background: #3333CC; left: 0%; top: 0%;}
    25%  {background: #2c0899; left: 100px; top: 0%;}
    50%  {background: #DCE4FF; left: 100px; top: 100px;}
    75%  {background: #333399; left: 0%; top: 100px;}
    100% {background: #000066; left: 0%; top: 0%;}
}

@keyframes pf {
     0%   {background: #3333CC; left: 0%; top: 0%;}
    25%  {background: #2c0899; left: 100px; top: 0%;}
    50%  {background: #DCE4FF; left: 100px; top: 100px;}
    75%  {background: #333399; left: 0%; top: 100px;}
    100% {background: #000066; left: 0%; top: 0%;}
}


/*end menu bar*/ 

.fauxmenuleft{
	position:absolute;
	top:125px;
	left:0%;
	z-position:-1;
	height:100%;
	width:125px;
	background-color:#333399;
}

.contentpn{
	position:absolute;
	left:125px;
	width:100%;
	height:100%;
	top:125px;
	z-position:0;
	background-color:#DCE4FF;
}


@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.header h1{
	font-size:64;
	position:relative;
	font-family:"Georgia", serif;
	color:#000066;

	 -webkit-text-fill-color: #000066;
	 -webkit-text-stroke-width: 1px;
	 -webkit-text-stroke-color: #333399;
	 -webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
	animation: slideInLeft 3s;
}


.hider{
	opacity:0;
	-webkit-animation: smooth 3s ease-in;
	-moz-animation: smooth 3s ease-in;
	-o-animation: smooth 3s ease-in;
	-ms-animation: smooth 3s ease-in;
	animation: smooth 3s ease-in;
	animation-delay:3s;
	animation-fill-mode: forwards;
}
.header p{
	position: relative;
	margin-top:-40px;
	top:0%;
	left: 300px;
	font-size:18;
	font-weight: bold;
	color:#000066;
	-webkit-text-fill-color: #000066;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #333399;
	z-position:2;
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
	animation: slideInLeft 3s;
	-webkit-animation-delay: 2s; 
	animation-delay: 2s
}

@-webkit-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.switcher{
	position:relative;
	padding-top:5%;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	color:black;
	z-position:1;
	font-size:12pt; 
	font-family: Helvetica;
}

.content p{
  width:400px;
  font-size:12pt; 
  font-family: Helvetica;
  text-align: center;
}

.content h1{
	position:relative;
	color:#FFFFFF;
	top:0%;
	left:15.0%;
}


