.menu{
	background-color: #000a78;
	position: absolute;
	left:0%;
	top:0%;
	height:125px;
	width: 100%;
	font-weight: bold;
	
}


.menu li:first-child { 
	padding-left:15%;
}

.menu li{
	position:relative;
	display:inline;
	margin: 2%;
	
}

#nav a:hover {color: #c2c7ff;}

#nav a{
	color: #FFFFFF;
	font-size:14pt;
	font-family: Arial;
	text-decoration: none;
}

.pic{
	position:absolute;
	top:25px;
	left:25px;
	background-size:100px 100px;
	z-index:1;

	
}



.picframe {

    width: 25px;
    height: 25px;
    position: absolute;
    left:0%;
    top:0%;
	z-index:2;
    -webkit-animation: pf 5s infinite;
    -webkit-animation-direction: alternate; 
    animation: pf 5s infinite;
}

/* picture frame ani */
@-webkit-keyframes pf {
     0%   {background: #3333CC; left: 0%; top: 0%;}
    25%  {background: #000a78; left: 100px; top: 0%;}
    50%  {background: #c2c7ff; left: 100px; top: 100px;}
    75%  {background: #2732a8; left: 0%; top: 100px;}
    100% {background: #000752; left: 0%; top: 0%;}
}

@keyframes pf {
     0%   {background: #3333CC; left: 0%; top: 0%;}
    25%  {background: #000a78; left: 100px; top: 0%;}
    50%  {background: #c2c7ff; left: 100px; top: 100px;}
    75%  {background: #2732a8; left: 0%; top: 100px;}
    100% {background: #000752; left: 0%; top: 0%;}
}


/*end menu bar*/ 

.fauxmenuleft{
	position:absolute;
	top:125px;
	left:0%;
	z-position:-1;
	height:100%;
	width:10%;
	background-color:#2732a8;
}

.contentpn{
	position:absolute;
	left:10%;
	width:90%;
	height:100%;
	top:125px;
	background-color:#c2c7ff;
}


@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.header h1{

	font-size:64;
	position:relative;
	font-family:"Georgia", serif;
	color:#000066;
	 -webkit-text-fill-color: #000066;
	 -webkit-text-stroke-width: 1px;
	 -webkit-text-stroke-color: #2732a8;
	 -webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
	animation: slideInLeft 3s;
}


.hider{
	opacity:0;
	-webkit-animation: smooth 3s ease-in;
	-moz-animation: smooth 3s ease-in;
	-o-animation: smooth 3s ease-in;
	-ms-animation: smooth 3s ease-in;
	animation: smooth 3s ease-in;
	animation-delay:3s;
	animation-fill-mode: forwards;
}



.header p{
	position: relative;
	margin-top:-40px;
	top:0%;
	left: 300px;
	font-size:18;
	font-weight: bold;
	color:#000066;
	-webkit-text-fill-color: #000066;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #2732a8;
	z-position:2;
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
	animation: slideInLeft 3s;
	-webkit-animation-delay: 2s; 
	animation-delay: 2s
}

@-webkit-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

#ContactMe p{
	width:600px;
	font-size:14pt; 
	font-family: Helvetica;
	color:#2732a8;
	text-align: left;
	padding-left: 10px;

}

.content p{
	width:600px;
	font-size:14pt; 
	font-family: Helvetica;
	color:#2732a8;
	text-align: center;
	padding-left: 20px;

}


.content h1{
	position:relative;
	color:#FFFFFF;
	top:0%;
	left:15.0%;
}


.content h2{
	position:relative;
	color:#000752;
	padding-left: 20px;
}
body {
  overflow-x: hidden;
 
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

html {
  --scbar: #000a78;
  --thumb: #2732a8;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--scbar);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumb) ;
  border-radius: 3px;
  border: 3px solid var(--scbar);
}
